{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Yangi parol o'rnatish
{% endblock title %}
{% block content %}
<div class="container border border-dark rounded rounded-4 p-4 mx-auto my-5 col-6">
    <h1 class="text-center">Yangi parol o'rnating</h1>
    {% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button class="btn btn-dark rounded-5 btn-lg">O'rnatish</button>
        </div>

    </form>
    {% else %}
    <div>Tiklash uchun havola noto‘g‘ri yoki eskirgan. Iltimos qaytadan tiklash qiling.</div>
<a href="{% url 'password_reset' %}">Qayta tiklash qilish</a>
{% endif %}</div>

</div>
{% endblock content %}