{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Parolni tiklash
{% endblock title %}
{% block content %}
<div class="container border border-dark rounded rounded-4 p-4 mx-auto my-5 col-6">
    <h1 class="text-center">Emailingizni kiriting: </h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button class="btn btn-dark rounded-5 btn-lg">Tiklash uchun link yuborish</button>
        </div>

    </form>
</div>
{% endblock content %}