{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo.svg' %}" alt=""/></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'cart_detail' %}" class="nav-link position-relative btn btn-sm ">
  Cart
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
     {{ cart.total_qty }}
    <span class="visually-hidden">unread messages</span>
  </span>
</a>
         
        </li>
        <li class="nav-item">
          {% if request.user.is_authenticated %}
 {% if request.user.role == "SELLER" %}
   <a class="nav-link" href="{% url 'seller_order_items' %}">Seller Orders</a>
 {% endif %}
{% endif %}

        </li>
      </ul>
      {% if user.is_authenticated %}

        <a style="width: 30px; height:30px;" class="text-decoration-none d-flex align-items-center justify-content-center bg-dark text-white rounded rounded-circle me-1"  href="{% url 'profile_detail' %}">{{ user.username|slice:1|title }}</a>

      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-dark btn-sm"><i class="bi bi-box-arrow-right"></i></button>

      </form>
      {% else %}
      <a class="btn btn-dark rounded rounded-pill me-1" href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
      <a class="btn btn-dark rounded rounded-pill" href="{% url 'login' %}">Kirish</a>
      {% endif %}
    </div>
  </div>
</nav>
